name: Build And Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: System-Libs
      run: sudo apt-get install -y libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
